@model HtmlExtensions.Core.Controllers.Tests

<input asp-for="Test" class="form-control markUP-editor"/>
<button class="btn btn-success" onclick="var Submit = function() { DataGrid1.updateChanges() };Submit()">Submit </button>